

<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Profile</h4>
              <p class="card-category">Edit the form to update the profile</p>
            </div>
            <div class="card-body">
              <form [formGroup]="profileForm" (ngSubmit)="onProfileSubmit()">
                <div class="row">
                  <!-- <div class="col-md-5">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Company (disabled)" disabled>
                                          </mat-form-field>
                                      </div> -->
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Name" type="text" formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted && g.name.errors }" />
                    </mat-form-field>
                    <!-- <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Name is required</div>
                                    </div> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Email" type="text" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && g.email.errors }" readonly />
                      <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                              <div *ngIf="f.email.errors.required">email is required</div>
                                          </div> -->
                    </mat-form-field>
        
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Website" type="text" formControlName="website"
                        [ngClass]="{ 'is-invalid': submitted && g.website.errors }" />
                    </mat-form-field>
        
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Phone" type="text" formControlName="phone" minLength="10" maxLength="10"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        [ngClass]="{ 'is-invalid': submitted && g.phone.errors }" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Company" type="text" formControlName="company"
                        [ngClass]="{ 'is-invalid': submitted && g.company.errors }" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Address" type="text" formControlName="address"
                        [ngClass]="{ 'is-invalid': submitted && g.address.errors }" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Country" type="text" formControlName="country"
                        [ngClass]="{ 'is-invalid': submitted && g.country.errors }"  readonly/>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>State</mat-label>
                      <mat-select formControlName="state" [ngClass]="{ 'is-invalid': submitted && g.state.errors }">
                        <mat-option *ngFor="let place of state_dist" [value]="place">{{place.state}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>District</mat-label>
                      <mat-select formControlName="district" [ngClass]="{ 'is-invalid': submitted && f.district.errors }">
                        <mat-option *ngFor="let dist of profileForm.controls.state.value.districts" [value]="dist">{{dist}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="City" type="text" formControlName="city"
                        [ngClass]="{ 'is-invalid': submitted && g.city.errors }" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-8">
                    <mat-form-field class="example-full-width">
                      <input matInput type="text" placeholder="Postal code" formControlName="postalcode" minLength="6"
                        maxLength="6" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        [ngClass]="{ 'is-invalid': submitted && g.postalcode.errors }" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Aadhar no." type="text" formControlName="aadhar" minLength="12"
                      maxLength="12" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                      [ngClass]="{ 'is-invalid': submitted && g.aadhar.errors }" />
                    </mat-form-field>
        
                    <!-- <div class="form-group">
        
                                              <div class="form-group">
                                                  <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                                  <textarea class="form-control" rows="5"></textarea>
                                              </div>
                                          </div> -->
                  </div>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeBtn>Close</button>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right">Submit</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
          <div class="col-md-4">
            <form>
              <div class="card card-profile">
                <div class="group-gap">

                  <!-- Upload image -->
                  <div class="avatar-upload">
                    <div class="avatar-edit">
                      <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
                    </div>
                    <div class="avatar-preview"  (click)="fileInput.click()">
                      <i class="fa fa-edit fa-2x edit"> </i>
                      <div id="imagePreview" [style.backgroundImage]="imageUrl">
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">{{profile?.admin_type}}</h6>
                      <h4 class="card-title">{{profile?.name | uppercase}}</h4>
                      <p class="card-description"> {{profile?.email}}
                      </p>
                      <!-- <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a> -->
                  </div>
              </div>
            </form>
          </div>
      </div>
      <div class="row">
        <div class="col-md-8 log-box">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Change Password</h4>
                    <p class="card-category">Update your new password</p>
                </div>
                <div class="card-body">
                  <form [formGroup]="pwdForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-12">
                              <!-- <mat-form-field class="example-full-width"> -->
                                  <div class="form-group">
                                      <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Old Password" type="password" formControlName="oldpassword" [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }" />
                                    </mat-form-field>
                                      <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
                                          <div *ngIf="f.oldpassword.errors.required">Password is required</div>
                                      </div>
                                  </div>
                                <!-- </mat-form-field> -->
                            </div>
                 
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <!-- <mat-form-field class="example-full-width"> -->
                                  <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                      <input matInput type="password" placeholder="New Password" formControlName="password1"  [ngClass]="{ 'is-invalid': submitted && f.password1.errors }" />
                                    </mat-form-field>
                                      <div *ngIf="submitted && f.password1.errors" class="invalid-feedback">
                                          <div *ngIf="f.password1.errors.required">Password is required</div>
                                      </div>
                                  </div>
                                <!-- </mat-form-field> -->
                            </div>
                 
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <!-- <mat-form-field class="example-full-width"> -->
                                  <div class="form-group">
                                      
                                      <mat-form-field class="example-full-width">
                                      <input matInput type="password" placeholder="Re-enter Password" formControlName="password2"  [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" />
                                    </mat-form-field>
                                      <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
                                          <div *ngIf="f.password2.errors.required">Password is required</div>
                                      </div>
                                  </div>
                              <!-- </mat-form-field> -->
                            </div>

                        </div>
           
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right">Submit</button>
                       
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
       
    </div>

  </div>
</div>
